NEXT_PUBLIC_STRAPI_API_URL=http://localhost:1337
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_RELEASE=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
